# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Distribution/Packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS Finder
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Log files
*.log

# Environment variables
.env

# pytest cache
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/
